# generated custom config files
image*/*
demand*.txt
p*.txt
image_names.txt
param_files.txt
supply.txt
# python cache
__pycache__/*
# old stuff I just keep for security
before_git/*
# Binaries
VascuSynthJpg
VascuSynthPng
VascuSynth
# generated images
*.png
*.h5
seed*/*
CHANGE_NAME/

### automatic
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
